<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./styles.css">
  <!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Superboop</title>
</head>
<body>
    <div class='container'>
      <header>
        <div>
          <a href="index.html">Superboop</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html"></a>
        </div>
      </header>
      <main>
        <div>
          <div class="card">
            <a href="product.html">
              <img src='/images' alt="product" />
            </a>
            <div class="card-body">

            </div>

          </div>
        </div>
      </main>
      <footer>

      </footer>

    </div>
</body>
</html>