@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Work+Sans:wght@200;300&display=swap');


html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Lato', Helvetica;
}

.container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer'
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1 fr 5rem;
  height: 100%;
}

header {
  grid-area: main;
  padding: 1rem;
  background-color: black;
}

footer{
  grid-area: footer;
  background-color: black;

}