table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.cart {

  font-size: 1em;

  select{
    width: 40px;
    height: 32px;
    font-size: 18px;
  }

  td {
    padding: 2em 5em;
  }

}

@media (min-width: 2000px) {
    .cart {
      font-size: 1.4em;
    }
 }