form {
  @include center;
  div {
    padding: .5em 0;
  }
  input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }

  button {
    background-color: #3E3E3E;
    border-radius: 3px;
    color: white;
    padding: 11px;
    text-transform: capitalize;
  }
}