.products-container {
  display: grid;
  margin: 10em 10em 0 10em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 2em 2em;
  align-content: space-around;

  img:hover {
    opacity: 0.5;
  }

  .card {
    text-align: center;
  }

  .small-image {
    width: 20em;
    height: 20em;
    object-fit: cover;
    overflow: hidden;
    // width: 25em;
    // height: 25em;
    // object-fit: cover;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // overflow: hidden;
  }

  .product-name{
    padding: .2em;
  }
}

.medium-image {
  width: 30em;
  height: 30em;
  // object-fit: cover;
  // display: block;
  // margin-left: auto;
}


.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10em 10em 0 10em;
  gap: 2em;

  h2 {
    margin-bottom: .5em;
  }

  .quantity-input {
    margin: 2em 0;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    gap: .2em;
  }

  .product-desription {
    font-size: 1em;
  }

  .add-to-cart {
    width: 50%;
    background: white;
    border: thin black solid;
    padding: .5em;
    text-transform: uppercase;
  }

  select {
    border-radius: none;
    border: thin grey solid;
    display: inline;
  }
}

.footer-title{
  border-bottom: 1px solid black;
  display: inline;
}

@media (min-width: 2000px) {

  .medium-image {
    width:auto;
    height: auto;
  }

  .product-container {
    margin: 10em 30em 0 30em;
  }
  .products-container {
    margin: 10em 30em 0 30em;
  }
}