.products-container {
  display: grid;
  align-content: center;
  grid-template-columns: 20% 20% 20% 20% 20%;

  .small-image {
  width: 15em;
  height: 15em;
  object-fit: cover;
  }

  .card {
    margin: 2em;
  }
}

.medium-image {
  width: 30em;
  height: 30em;
  object-fit: cover;
}