.products-container {
  top: 50px;
  padding: 1em;
  display: flex;
  flex-direction: row;

  .small-image {
  width: 15em;
  height: 15em;
  object-fit: cover;
  }
}

.medium-image {
  width: 30em;
  height: 30em;
  object-fit: cover;
}