@import '../../variables';

header{
  height: 7em;
  overflow: hidden;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  color:$primary-color;
  background-color: $secondary-color;
  
}

a:visited {
  color: $primary-color;
}

.nav {
  height: 100%;
  margin: 0 12em;
  // box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-decoration: none;

  ._left {
    font-size: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      width: .5em;
      height: .5em;
      // position: absolute;
      // top: 50px;
      // left: 500px;
      padding: 10px 0 0 10px;
    }
  }
  .logo {
    opacity: .5;
  }

  ._right {
    font-size: 1.2em;
    
    a{
      margin: .5em;
    }
    
    div{
      padding: 1em;
    }
  }

}

@media (min-width: 2000px) {
 .nav {
  margin: 0 30em;
 }
}


 