@import './components/Products/products.scss';
@import './components/Nav/nav.scss';
@import './variables.scss';
@import './components/Footer/footer.scss';
@import './components/cart/cart.scss';

html {
  font-family: $primaryFontFamily;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.small-img{
  width: 5em;
  height: 5em;
  object-fit: cover
}

.medium-img {
  width: 15em;
  height: 15em;
  object-fit: cover
}

.large-img{
  width: 30em;
  height: 30em;
  object-fit: cover
}

:any-link {
  text-decoration: none;
}