@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Work+Sans:wght@200;300&display=swap');

//font-family: 'Lato', sans-serif;
//font-family: 'Work Sans', sans-serif;


$primaryFontFamily: 'Lato', helvetica;
// dusty rose
$primary-color: #F79489;
//cream
$secondary-color: #F9F1F0;


$link-font-size: 18px;



